<div class="loginContainer col-6">
  <div class="row col-12 mt-5">
    <div class="col-3 ml-3">
      Username:
    </div>
    <div class="col-4">
      <input [(ngModel)]="userName" type="text" />
    </div>
  </div>
  <div class="row col-12">
    <div class="col-3 mt-2 ml-3">
      Password:
    </div>
    <div class="col-4 mt-2">
      <input [(ngModel)]="password" type="password" />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4"> </div>
    <div class="col-4 ml-4">
      <button type="submit" (click)="onSubmit()"> Login </button>
    </div>
  </div>
</div>